<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>CLIENT_ID</key>
	<string>1067543375192-hjv27nrca3jmrdmklk7mem80rjt14gvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067543375192-hjv27nrca3jmrdmklk7mem80rjt14gvt</string>
	<key>API_KEY</key>
	<string>AIzaSyDbGPvAcT61Acs0BcqxF35JcHuA5XNQMQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1067543375192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ZSGS.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-e837a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-e837a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067543375192:ios:6fc646025fa7ec6505892d</string>
</dict>
</plist>
